* {
  margin: 0;
  padding: 0;
}
:root {
  /* default colors -- light theme */
  --text-color: #2f3640;
  --stroke-color: #b3b3b3;
  --bg-main-color: #f5f6fa;
  --bg-search-color: #e4e4e4;
  --bg-contacts-color: #f5f6fa;
  --bg-contacts-item-color: #e2edf6;
  --bg-contacts-item-selected-color: #40739e;
  --bg-contacts-profile-color: #8c7ae6;
  --bg-chat-color: #737887;
}

body {
  height: 100%;
}

#dark-theme {
  --text-color: #dcdde1;
  --stroke-color: #2f3640;
  --bg-main-color: #2f3640;
  --bg-search-color: #6e778b;
  --bg-contacts-color: #353b48;
  --bg-contacts-item-color: #414857;
  --bg-contacts-item-selected-color: #40739e;
  --bg-contacts-profile-color: #8c7ae6;
  --bg-chat-color: #737887;
  // background-color: cyan;
}

.App {
  background-color: var(--bg-main-color);
  color: var(--text-color);
  display: flex;
  width: 100vw;
  height: 100vh;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 25%;

  &-top {
    background-color: var(--bg-main-color);
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu-button {
    }

    &__searchbar {
      & input {
        background-color: var(--bg-search-color);
        border-radius: 20px;
      }
    }
  }

  &-list {
    background-color: var(--bg-contacts-color);

    &__item {
      background-color: var(--bg-contacts-item-color);
    }

    &__item.contact-selected {
      background-color: var(--bg-contacts-item-selected-color);
    }
  }
}

.chat {
  width: 100%;
  &-top {
    background-color: var(--bg-main-color);

    &__info {
      &__recipient-name {
      }
      &__activity-status {
      }
    }

    &__buttons {
    }
  }

  &-display {
    background-color: var(--bg-chat-color);
    &__message {
      /* missing color */
    }

    &__message.user-message {
      /* missing color */
    }
  }

  &-bottom {
    background-color: var(--bg-contacts-color);
    &__attach {
    }
    &__textarea {
    }
    &__buttons {
    }
  }
}
