// Variables
@use 'mixins' as mx;

// Variables
$topbar-height: 60px;
$bottombar-height: 40px;

:root {
  /* default colors -- light theme */
  --text-color: #2f3640;
  --stroke-color: #b3b3b3;
  --bg-main-color: #f5f6fa;
  --bg-search-color: #e4e4e4;
  --bg-contacts-color: #f5f6fa;
  --bg-contacts-item-color: #e2edf6;
  --bg-contacts-item-hover-color: #77a9d4;
  --bg-contacts-item-selected-color: #40739e;
  --bg-contacts-profile-color: #8c7ae6;
  --bg-chat-color: #737887;
}

body {
  height: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

#dark-theme {
  --text-color: #dcdde1;
  --stroke-color: #2f3640;
  --bg-main-color: #222222;
  --bg-search-color: #6e778b;
  --bg-contacts-color: #222222;
  --bg-contacts-item-color: #2c2c2c;
  --bg-contacts-item-hover-color: #274a52;
  --bg-contacts-item-selected-color: #1b7d8f;
  --bg-contacts-profile-color: #8c7ae6;
  --bg-chat-color: #363636;
  // background-color: cyan;
}

.App {
  background-color: var(--bg-main-color);
  color: var(--text-color);
  display: flex;
  width: 100vw;
  height: 100vh;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 400px;

  &-top {
    background-color: var(--bg-main-color);
    width: 100%;
    min-height: $topbar-height;
    display: flex;
    // flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;

    &__menu-button {
      display: flex;
      justify-content: center;
      width: 80px;
      & span {
        font-size: 2.4rem;
      }
    }

    &__searchbar {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-right: 20px;
      & input {
        background-color: var(--bg-search-color);
        color: var(--text-color);
        font-size: 0.9rem;
        font-weight: 500;
        border-radius: 10px;
        border: 0;
        height: 40px;
        width: 100%;
        outline: none;
        padding-left: 20px;

        &::placeholder {
          font-size: 0.9rem;
          font-weight: 500;
          color: var(--text-color);
        }

        &:focus {
          border: 0;
        }
      }
    }
  }

  &-list {
    background-color: var(--bg-contacts-color);
    display: flex;
    flex-direction: column;

    &__item {
      background-color: var(--bg-contacts-item-color);
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      padding: 5px 20px 5px 10px;

      &:hover {
        background-color: var(--bg-contacts-item-hover-color);
      }

      &.contact-selected {
        color: white;
      }

      &__photo {
        & span img {
          border-radius: 100%;
          max-width: 56px;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        height: 100%;
        width: 100%;

        &__name {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    &__item.contact-selected {
      background-color: var(--bg-contacts-item-selected-color);
    }
  }
}

.chat {
  width: 100%;
  @include mx.flex-col;

  &-top {
    background-color: var(--bg-main-color);
    @include mx.flex;
    justify-content: space-between;
    min-height: $topbar-height;
    padding: 0 10px 0 10px;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      &__recipient-name {
        font-size: 1rem;
      }
      &__activity-status {
        font-size: 0.76rem;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  &-display {
    background-color: var(--bg-chat-color);
    height: 100%;

    &-container {
      @include mx.flex-col;
      //   background-color: #1b7d8f;
      height: 100%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      overflow-y: auto;
    }

    &__message {
      /* missing color */
      width: 100%;
    }

    &__message.user-message {
      width: 100%;
      @include mx.flex;
      justify-content: flex-end;
    }

    &__message.user-message {
      /* missing color */
    }
  }

  &-bottom {
    background-color: var(--bg-contacts-color);
    @include mx.flex;
    justify-content: space-between;
    // padding: 0 10px;
    height: $bottombar-height;
    margin-top: auto;
    &__attach {
      @include mx.flex-center-aj;
      padding-left: 15px;
    }
    &__textarea {
      @include mx.flex-center-aj;
      width: 100%;
      height: 100%;
      & #message-input {
        width: 100%;
        height: 90%;
        border: none;
        outline: none;
        background-color: var(--bg-contacts-color);
        padding-left: 15px;
        font-size: 0.9rem;
      }
    }
    &__buttons {
      @include mx.flex-center-aj;
      gap: 8px;
      padding-right: 15px;
    }
  }
}
